<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geomslayer.hseproject">

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".mainscreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".details.ReadActivity"
            android:label=""
            android:parentActivityName=".mainscreen.MainActivity" />

        <provider
            android:name=".data.NewsProvider"
            android:authorities="com.example.geomslayer.hseproject.data"
            android:exported="false" />

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleTask" />

        <activity
            android:name=".stats.StatsActivity"
            android:label="@string/statistics"
            android:launchMode="singleTask" />

    </application>

</manifest>